body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#header{
    background-color: #6692a6;
    padding-left: 100px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#header h1{
    color:white;
}

#query-text{
  width: 85%;
}

#input-button{
  margin-left: 10px;
}

.url input {
  width: 20%;
  margin-bottom: 10px;
}

.query-form{
  margin-top: 10px;
  margin-bottom: 10px;
}

.query-form b {
  margin-right: 10px;
}

.tab {
  margin-left: 100px;
}

.nav-tabs{
  background-color: #6692a6;
}

.chart{
    margin-right: 100px;
}

.query{
    margin-top: 4px;
    margin-left: 10px;
}
