body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#header{
    background-color: #6692a6;
    padding-left: 100px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#header h1{
    color:white;
}

#query-form{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
}

#query-text{
  width: 85%;
}

#input-button{
  margin-left: 10px;
}

.chart{
    margin-left: 100px;
    margin-right: 100px;
}

.query{
    margin-top: 4px;
    margin-left: 10px;
}
